:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/bc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* For smaller devices where the image might pixelate */
@media (max-width: 768px) {
  body {
    background-image: url("./assets/mble.jpg"); /* Optional: use a mobile-optimized version */
    background-attachment: fixed; /* Better performance on mobile */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}